<strong>Ola, {{ organizer }}</strong>
<p>Houve uma nova inscricao no meetup {{ meetup }}, segue abaixo os dados da inscricao:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
